a:link{color:black;}
a:visited{color:black;}
a:hover{color:red;}
body   {background-color:silver;
        margin:20px;
}
header {font-size:1em;
        font-weight:bolder;
        vertical-align:middle;
        display:flex;
        justify-content:space-between;
        text-decoration-line:none;
        }
h1 {display:inline;}
form   {font-weight:bolder;
        margin-right:5px;
        padding:0px 10px 0px;
        font-weight:bloder;
        float:right;        
        display:block;
        text-align:right;
        }
fieldset {display:inline;
          height:70px;
          border:5px dotted black;}             
.logo {display:inline-block;}
.submit {background-color:greenyellow;
        font-weight:bolder;
        padding:5px;
        }        
li     {font-size:2em;        
        font-weight:bolder;
        height: 100px;
        display:table-cell;
        text-decoration-line:none;
        padding:5px 10px 5px;
        margin:0px 5px 0px;
        border-radius:10px;
        text-align:center;
        float:left;
        vertical-align: middle;
        }
.container {background-color:white;    
          height:auto;
          padding:10px;
          display:block;
          padding:10px;}
.main {background-color:lightgray;}          
iframe   {display:block;
          width:100%;
          background-color:mediumaquamarine;
          }        
table  {width:100%;
        text-align:left;
        border:5px solid purple;
        }
.main {width:80%;
       height:500px;
       border:5px solid green;}
.article {border:5px dotted blue;}               
.ad {border:5px solid blue;}        
.banner {width:40%;
         height:100px;
         border:1px solid black;
         background-color:aquamarine;}        
.link {vertical-align:middle;
        background-color:white;
        }     
footer {text-align:center;}
hr {color:black;
    height:5px;}
