@charset "utf-8";
/* CSS Document */
body{background-color: "#8ceadc";
	background: url(images/hb.jpg);
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 98%;
	background-size: 50px 50px;
	width:"50px"; height:"50px";
   }
h2{color:red; background-color:aqua;}
