@charset "UTF-8";
/*주조색 #00ff00
   보조색 #006900 */
/* 전체 */
* {padding:0;
   margin:0 auto;
   font-family:'맑은 고딕';
   }
body {background:white;
      width:100%;
      color:#333;}
ul {list-style:none;}
a {display:block;
   color:inherit;
   text-decoration:none;}
.clear {float:both;}       
/*레이아웃*/
#container {width:1200px;
            background:white;
            }
/*헤더*/
header {background:none;
        height:100px;}        
/*슬라이드*/
#slide {background:black;
        height:300px;
        width:1200px;
        overflow:hidden;
        position: relative;}
/*콘텐츠*/
#cont {height:200px;}

/*푸터*/
footer {background:violet;
        height:100px;}

/*로고*/
.logo {float:left;
       width:200px;
       height:100px;
       background:none;}
.logo img {margin-top:30px;
          width:200px;
          height:40px;}
nav {float:right;
     width:800px;
     position:relative;} /* 추가 공간을 잡기 위한 포지션 지정 */
.menu {margin-top:60px;}           
.menu>li {float:left;
          width:200px;
          text-align:center;
          position:relative;
          font-weight:bolder;
          transition:all 0.4s;
        }
.menu > li:hover {background:#006900;
                  color:white;
                  font-weight:bold;}        
.menu li a {padding:10px 0;}
.sub {z-index:10;
      width:100%;
      position:absolute;
      background:rgba(128, 128, 128, 0.511);
      display:none;
      }
.sub > li {text-align: center;
           color:white;}      
.sub li:hover {background: #00ff00;
                color:inherit;}
.aa {width:400px;
     height:123px; /*임의의 숫자 */
     background:rgba(0, 255, 0, 0.5);
     position:absolute;
     left:-400px;
     top:102px;
}      

/*슬라이드*/
#slide > img {width:100%;}        
#slide > a {position:absolute;
            left:0; top:0;
            overflow:hidden;
            transition:all 3s;}         
.text {position:absolute;
       background:rgba(0, 0, 0, 0.5);
       color:white;
       text-align:center;
       left:30%; top:45%;
       width:500px; height:20px;} 
       
       

/*콘텐츠*/
#cont > div {float:left;
             width:390px;
             height:180px;
             margin:10px 0 10px 8px;
             }
/*공지사항*/             
.cont1 {background:none;}
.tab_btm ul {overflow:hidden;}
.tab_btm li {width:100px;
             height:20px;
             background:whitesmoke;
             text-align:center;
             float:left;
             padding:5px 0 10px;
             display:block;
             border:1px solid black;
             border-bottom:none;
             border-radius:10px 10px 0 0;
             font-weight:bold;
             }
.notice, .gall {width:390px;
                height:145px;
                background:white;
                margin-left:-7px;
                border-radius:10px;
                border:1px solid black;}
.notice li {padding:5px;
            width:370px;
            height:20px;
            margin-top:5px;
            font-size:14px;}
.notice span {float:right;}
.notice li:hover {font-weight:bolder;}
.notice li:nth-child(2n) {background:silver;}

.cont3 > a {position: relative;}
.cont3 span {background:rgba(0, 0, 0, 0.2);
             color:white;
             position:absolute;
             font-weight:bolder;
             left:0; top:40%;
             width:100%;
             text-align:center;}
/*레이어 팝업*/
.modal {position:fixed;
        left:0;
        top:0;
        z-index:50;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.5);
        display:none;
        }
.body {background:white;
       width:600px;
       height:250px;
       border:10px solid #006900;
       text-align:center;
       padding:20px;
       margin:150px auto;}
.button {float:right;}
button {width:80px;
        height:40px;
        background:#006900;
        color:white;
        font-weight:bolder;
        font-size:18px;
        border:none;
        border-radius:30px;
        padding:5px;}              

/*갤러리*/
.gall ul {margin:30px;}
.gall li {display:inline-block;
          margin-left:8px;
          transition:all 0.5s;}
.gall li:hover {opacity:0.5;}

.cont3 {background:skyblue;}

/*푸터*/
footer > div {float:left;
              height:100px;}
.f1 {
    width:200px;}
.f2 {text-align:center;
    line-height:100px;
    width:800px;}
.f3 {width:200px;}              