@charset "utf-8";
/* CSS Document */
body{background: #C1EFFF;
    margin-top: 20px;
    margin-left: 20px;
   }
h2{color:#B9005B; background-color:#E9DAC1;
}
h3{color:#7F5283; background-color:silver;
}
li{font-size:150%;
   font-weight:bolder;
}
.link {float: right; }
div {color: silver ; }
