@charset "utf-8";
/* CSS Document */
body{background: #C1EFFF;
    margin-top: 20px;
    margin-left: 20px;
   }
h2{color:#B9005B; background-color:#E9DAC1;
}
h3{color:#7F5283; background-color:silver;
}
li{font-size:150%;
   font-weight:bolder;
}
@font-face {font-family: 'PCB'; src: url('font/pyeongChang-bold.ttf') format('ttf')}
@font-face {font-family: 'PCR'; src: url('font/pyeongChang-regulsr.ttf')} format('ttf')}

.HB {font-family: PCB;}
