a:link{color:black;}
a:visited{color:black;}
a:hover{color:red;}
body {background-color:silver;
     margin:20px;
     }
header {font-size:3em;
        font-weight:bolder;
        vertical-align:middle;
        vertical-align:bottom;
        display:inline;
        text-decoration-line:none;
        }
.menu  {font-size:20px;
        font-weight:bolder;
        display:inline-block;
        float:right;
        text-decoration-line:none;
        }
.content {background-color:white;}        
.link {float:right;
        display:block;}     
footer {float:center;}

